
#wrap {
	text-align: center;
	margin: 0 auto;
	font-family: tahoma;
	cursor: url('Cursor/cursor.png'), auto;
}

#nheader{
	
    background-color: #3498db;
	height: 100px;
	padding: 1px;
	border: solid 4px black;

}

#npara {
	padding: 25px;
	border: solid 1px black;
	background-image: url('File/raw.jpeg');
	
}

.colorOf {
	color: red;
	
}

body {
        background-color: #8d8d8d;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 100vh;
        background-image: url("/File/raw.jpeg");
         
      }

#a {
        text-decoration: none;
        border: 0.2px solid #000;
        color: #000;
        background: #e6e4e4;
        padding: 5px;
        border-radius: 1px;
      }
